body {
  margin: 0;
}

#mainimg {
  width: 100%;
  height: auto;
  margin-top: 3.2%;
}

.navbar {
  background-color: #333;
  padding: 1% 2%;
  text-align: center;
}
.a1 {
  color: white;
  text-decoration: none;
  padding: 1% 2%;
}

.a1:hover {
  background-color: red;
}
.topnav {
  position: fixed;
  width: 100%;
}
