body{
    margin: 0;
}
.navbar{
    background-color: rgb(102, 207, 242);
    text-align: center;
    padding: 15px;
}
span{
    margin-left: 20px;
}
#mainimg{
    height: 68%;
    width: 100%;
}
.a1:link {
    background-color:pink;
    color: #11999E;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a1:hover,
.a1:active {
    background-color: rgb(53, 90, 255);
    color: white;
}